body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 2em;
}

div {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

h1, h2 {
	margin-top: 0px;
}

h2 {
	font-size: 1.2em;
}

p {
	font-weight: bold;
}

table {
	width: 100%;
}

td {
	width: 50%;
	vertical-align: middle;
}

span {
	font-size: 1.2em;
}

.timer.on {
	color: green;
}

.hotWater.on {
	color: orange;
}

.heating.on {
	color: red;
}

select {
	font-size: 2em;
}
