<!DOCTYPE html>
<html>
	<head>
	
		<title>BatBox Boiler Controller</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/batbox.css"/>
		
	</head>
	<body>
		<div>
			<h1>BatBox</h1>
			<h2>Temperature: <span class="temperature"></span> C</h2>
			<h2>Humidity: <span class="humidity"></span> %</h2>
			<h2>Hot Water: <span class="hotWater"></span></h2>
			<h2>Heating: <span class="heating"></span></h2>
		</div>
		<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
		<script src="js/batbox.js" type="text/javascript"></script>
	</body>
</html>
