<!DOCTYPE html>
<html>
	<head>
	
		<title>BatBox Boiler Controller</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<!-- favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
		
	</head>
	<body>
		<div>
			<h1>BatBox</h1>
			<h2>Temperature: <span class="temperature"></span> C</h2>
			<h2>Humidity: <span class="humidity"></span> %</h2>
			<h2>Hot Water: <span class="hotWater"></span></h2>
			<h2>Heating: <span class="heating"></span></h2>
		</div>
	</body>
</html>
